<a href="{{global.path}}#content" role="link" class="sr-only sr-only-focusable">Skip to content</a>
<!-- Button trigger modal -->
<button type="button" id="btnStickyKeyGlossary" class="sr-only sr-only-focusable" aria-label="Please press F2 for sticky key glossary"
  data-toggle="modal" data-target="#stickyKeyModal">
  Sticky Keys
</button>
<!-- Modal -->
<div class="modal fade" id="stickyKeyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Sticky Keys</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" role="alert" aria-live="assertive">
        <span class="sr-only">The following shortcut keys are available to navigate this Web site</span>
        <span>
          <strong>Alt+C</strong>&nbsp;&nbsp;&nbsp;Go to the checkout
        </span>
        <br />
        <span>
          <strong>Alt+I</strong>&nbsp;&nbsp;&nbsp;Announce the basket items and quantities and total cost
        </span>
        <br />
        <span>
          <strong>Alt+N</strong>&nbsp;&nbsp;&nbsp;Announce number of basket items
        </span>
        <br />
        <span>
          <strong>Alt+S</strong>&nbsp;&nbsp;&nbsp;Continue shopping - go to the store homepage
        </span>
        <br />
        <span>
          <strong>Alt+T</strong>&nbsp;&nbsp;&nbsp;Recall the total cost of the basket
        </span>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="content" class="container">
  <!-- Content here -->
  <main>
    <span id="status" tabindex="0" class="sr-only sr-only-focusable"></span>
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table *ngIf="this.global.basketCost != 0" class="timetable_sub">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of global.basket" class="rem1">
              <td class="invert-image">
                <img src="{{ item.productImage.src }}" alt="{{ item.productImage.shortDesc }}" width="{{ item.productImage.width }}" height="{{ item.productImage.height }}">
              </td>
              <td class="invert">
                <div class="quantity">
                  <span [id]=createId(item._id) aria-live="assertive" class="hidden">You now have {{item.quantity}} of {{item.productName}} in the basket. The quantity cost for this item is
                    {{item.quantityCost }} pounds.</span>
                  <div class="quantity-select">
                    <div class="entry value-minus" id="decrement-value" tabindex="0" (keyup)="onKey($event, item)" (click)="adjustQuantityValue(item, false)"
                      [attr.aria-label]=decreaseQuantity(item.productName) [attr.aria-describedby]=createId(item._id)>&nbsp;</div>
                    <div class="entry value">
                      <span>{{ item.quantity }}</span>
                    </div>
                    <div class="entry value-plus active" id="increment-value" tabindex="0" (keyup)="onKey($event, item)" (click)="adjustQuantityValue(item, true)"
                    [attr.aria-label]=increaseQuantity(item.productName) [attr.aria-describedby]=createId(item._id)>&nbsp;</div>
                  </div>
                </div>
              </td>
              <td class="invert">{{ item.productName }}</td>

              <td class="invert">{{ item.quantityCost }}</td>
              <td class="invert">
                <div class="rem">
                  <div class="close1">
                    <button type="button" class="btn btn-danger" (click)="removeProductItem(item)" [attr.aria-label]=getProductItemLabel(item.productName)>
                      <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                  </div>
                </div>

              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="rem1" *ngIf="this.global.basketCost != 0">
              <td class="invert-image">&nbsp;</td>
              <td class="invert">&nbsp;</td>
              <td class="invert">&nbsp;</td>
              <td class="invert">
                <h5>Subtotal</h5>
                <h5>Estimated shipping</h5>
                <h3>Total</h3>
              </td>
              <td class="invert text-right">
                <h5>£{{ global.basketCost }}</h5>
                <h5>£{{ global.shippingCost }}</h5>
                <h3>£{{ global.basketCost+global.shippingCost }}</h3>
              </td>
            </tr>
          </tfoot>
        </table>
        <div *ngIf="this.global.basketCost == 0">
          <h1>Shopping Basket Empty</h1>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" routerLink="/">
            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
          </button>
          <span *ngIf="this.global.basketCost != 0">
            <button type="button" class="btn btn-primary" routerLink="/checkout">
              Checkout
              <span class="glyphicon glyphicon-play"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </main>
</div>