<a href="{{global.path}}#content" role="link" class="sr-only sr-only-focusable">Skip to content</a>
<div id="content" class="container">
  <!-- Content here -->
  <main>
    <!-- Button trigger modal -->
    <button type="button" id="btnStickyKeyGlossary" class="sr-only sr-only-focusable" aria-label="Please press F2 for sticky key glossary"
      data-toggle="modal" data-target="#stickyKeyModal">
      Sticky Keys
    </button>

    <!-- Modal -->
    <div class="modal fade" id="stickyKeyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Sticky Keys</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span>
              <strong>Alt+B</strong>&nbsp;&nbsp;&nbsp;Go to the basket</span>
            <br />
            <span>
              <strong>Alt+I</strong>&nbsp;&nbsp;&nbsp;Announce the basket items and quantities and total cost
            </span>
            <br />
            <span>
              <strong>Alt+S</strong>&nbsp;&nbsp;&nbsp;Continue shopping - go to the store homepage
            </span>
            <span>
              <strong>Alt+T</strong>&nbsp;&nbsp;&nbsp;Recall the total cost of the basket
            </span>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary">
      <h1 class="display-1 small text-white">Accessibility Checkout Demo</h1>
      <h2 class="display-2 small text-white">ATOS DEUX</h2>
    </div>
    <div class="row">
      <div class="col-sm-8" aria-live="assertive">
        <p class="display-3_">
          Hello {{ global.shipping.firstName }},
          <br /> Your payment has gone through successfully and your order is being processed.
        </p>
        <p class="display-3_">
          Here are your shipping details:-
          <br /> {{ global.shipping.addrLine1 }}, {{ global.shipping.addrLine2 }}, {{ global.shipping.city }}, {{ global.shipping.postcode
          }}
        </p>
      </div>
      <div class="col-sm-4 bg-light">&nbsp;</div>
    </div>
  </main>
</div>